pip install "fastapi[standard]"
pip install -r requirements.txt
pip install pydantic
pip install sqlalchemy  
pip install psycopg2-binary 
pip install pyyaml 

runing the app = fastapi dev main.py, uvicorn main:app --reload